* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #d9d9d9;
}

.App {
  text-align: center;
  background-color: black;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif-result {
  width: 70%;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #16191d;
  border: solid 1px #2f3336;
}

a {
  text-decoration: none;
  color: #28b39d;
}

input {
  margin: 0.5rem;
  color: #16191d;
}

button {
  padding: 0.5rem;
  background-color: #145a4f;
}

button:hover {
  background-color: #1a7567;
}
